*,
*::before,
*::after{
    box-sizing: border-box;
}



:root{
    
    --clr-text: #030104;
    --clr-accent: #F2F2F2;
    --clr-primary: #1A1A1A;
    --clr-buttoncolor: #1A1A1A;
    --clr-secondary: #B89BFB;


    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-ExtraBold: 800;

}

html {
    scroll-behavior: smooth;
  }

body {


    margin: 0;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
   
}



header {

    background-color: var(--clr-primary);
    padding: 1rem 13.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    /* box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%); */
    
    

}


header p {
    color: var(--clr-light);
    font-size: 1rem;
    letter-spacing: 2px;
}

.nav {

    display: flex;
    align-items: center;
    gap:48px;
}

.nav_list { 


    display: flex;
    align-items: center;
    margin:0; 
    padding: 0;
    list-style: none;
    gap: 60px;
    cursor: pointer;
    
}




.nav_link {
   
    text-decoration: none;
    color: var(--clr-light);
    font-size: 1rem;
    font-weight: var(--fw-semibold);

    transition: color 0.3s ease; 

}


.nav_link:hover {
   color: var(--clr-secondary);
}





.contact-button:hover {
    color: var(--clr-light);
    background-color: var(--clr-secondary);
}










.main-text h3,
.main-text h2,
.main-text .Description,
.main-text .page-links
 {
    margin: 0; 
    padding: 0; 
    line-height: 1; 
}




.main-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding: 0 6.125rem;
    height: 100vh;
    border-bottom: 1px solid rgba(26, 26, 26, 0.80);

   overflow: hidden;
    --color: #E1E1E1;
    background-size: 55px 55px;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent); 

 /*
        --color: rgba(114, 114, 114, 0.3);
        background-color: #191a1a;
        background-size: 55px 55px;
        background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
            linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent); */
    

}



.main-text {
    display: flex;
    flex-direction: column;
    align-items: start;

}


.main-text h3 {
   
    color: var(--clr-text);
    font-size: 3.075em;
    font-weight: var(--fw-semibold);
    letter-spacing: 2px;

}

.main-text h2 {
    
    color: var(--clr-text);
    font-size: 6.125rem;
    font-weight: var(--fw-ExtraBold);
    letter-spacing: 2px;

}


.main-text .Description {

    font-size: 24px;
    font-weight: var(--fw-light);
    color: var(--clr-text);
    margin-bottom: 100px;
    letter-spacing: 1px;
    opacity: 0.80;
}






.contactme{
    display: flex;
    align-items: center;
    gap:24px;

    background-color: var(--clr-buttoncolor);
    color: var(--clr-light);
    border: none;
    border-radius: 8px;
    
    padding: 1.5rem 3rem;

    font-size: 1.2rem;


    font-family: 'League Spartan', sans-serif;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    transition: background-color 0.3s ease;
 
    letter-spacing: 1px;
}

.bx-send {
    font-size: 24px;
}


.contactme:hover{
    background-color: #B89BFB;
}








/*

.buttons {

    display: flex;
    align-items: center;
    gap: 24px;
   
}

.btn-CV {

    border: none;
    text-decoration: none;

    background-color: var(--clr-primary);
    border: 2px solid #1A1A1A;
    border-radius: 40px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1.3rem 2.6rem;
    margin: 0;
    
    color: var(--clr-light);
    
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    letter-spacing: 2px;
    line-height: 1;

    transition: background-color 0.3s ease;

  
}

.btn-CV:hover {
    background-color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
  

}


.btn-Projects {
    border: none;
    text-decoration: none;

    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #1A1A1A;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1.3rem 2.6rem;
    margin: 0;
    
    color: var(--clr-buttoncolor);
    
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    letter-spacing: 2px;
    line-height: 1;

    transition: background-color 0.3s ease;

}

.btn-Projects:hover {
    background-color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
  

}

*/ 










/* SECOND-HOME */ 


.second-home {
 

    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     
    padding: 10em 6.125rem;
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.80);
    
}




.secondmain-text h1 {

    font-size: 3.075em;
    letter-spacing: 6.4px;
    padding: 0;
    margin: 0;
    font-weight: var(--fw-bold);
    margin-bottom: 150px;
    color: var(--clr-text);

}

.links-social {
    display: flex;
    flex-direction: column;
    gap:  64px;
}

.links-social a {
    text-decoration: underline;
    font-weight: var(--fw-medium);
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--clr-text);
    transition: transform 0.3s ease-in-out;
}

.links-social a:hover{
    transform: translateY(-4px);
}




.present-content h1{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: var(--fw-bold);
    color: var(--clr-text);
    letter-spacing: 2px;

}


.present-content p {
    text-align: justify;
    font-size: 20px;
    font-weight: var(--fw-regular);
    color: var(--clr-text);
    margin-bottom: 120px;
    letter-spacing: 2px;
    line-height: 150%;
}


.skills-image {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.skills-content h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: var(--fw-bold);
    color: var(--clr-text);
    letter-spacing: 2px;
}

.icons-skills {
width: 90px;
height: 90px;
padding: 1.3rem 1.3rem;
border-radius: 8px;
background:#FFF;
box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.icons-skills svg {
width: 48px;
height: 48px;
}


.design1 {
    position: absolute;
    top: 5%;
    right: 5%;
    transition: transform 0.3s ease-in-out;
}


.design1:hover {
        transform: translateY(-4px);
    
}









.third-home {


    display: flex;
    justify-content: space-between;

    
    padding: 10em 6.125rem;
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.80);

}




.thirdmain-text h1{

    font-size: 3.075em;
    letter-spacing: 6.4px;
    padding: 0;
    margin: 0;
    font-weight: var(--fw-bold);

    color: var(--clr-text);

}



.carousel {
    
    transition: opacity 0.3s;
}



.carousel img:hover {
    filter: brightness(80%)
}



.carousel-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 24px;
}

.carousel-row > :nth-child(5) {
    grid-column: 1 / -1; 
}


.wrapper {
    text-align: center; 
}

.wrapper img:last-child {
    width: 100%; 
    max-width: 100%; 
}





.menu {

    display: none;
    font-size: 20px;
     color: var(--clr-light);
 }
 


 /* for mobile devices */
 
 @media screen and (min-width: 375px) and (max-width: 767px) {

    .site-header {
        padding: 1rem 2rem;
      
    }

    .main-home {
        padding: 5rem 1.5rem;
        height: auto;
        flex-direction: column;
    }

 
     .nav_list {
    
         /*background-color: rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(20px); */
 
         background-color: var(--clr-primary);
         padding: 2em 1em; 
         position: fixed;
         top: 0;
         left: -100%;
         width: 50%; 
         height: 100%;
         z-index: 1000;
         transition: left 0.3s ease;
         display: flex;
         flex-direction: column; 
         gap: 20px;
         font-size: 4rem;
     }
 
     .nav_link {
         color: var(--clr-light);
         font-size: 1.5rem;
 
     }
 
     .nav.active .nav_list {
         left: 0;
     }
 
     .menu {
         display: flex; 
         align-items: center;  
     }
 
   
     .menu #close-icon {
         display: none;
     }
 
     .nav.active .menu #close-icon {
         display: block;
     }
 }
 
  
   
 
  /* for tablet */
 
  @media screen and (min-width: 1px) and (max-width: 1300px) {


    
        .site-header {
            padding: 1rem 2rem;
          
        
        }


        .second-home {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
        }


        .main-text {
            margin-top: 50px;
            text-align: center;
            align-items: center;
        }

        .main-home {
            padding: 5rem 1.5rem;
            height: auto;
            flex-direction: column;
        }

        
        .main-text .Description {
            margin-bottom: 50px;
           
        }



        .contactme {
            margin-bottom: 64px;
    
        }













        .second-home {
            padding: 3rem 1.5rem;
            
            flex-direction: column;
    
        }

        .secondmain-text {
           text-align: center;
        }

        .secondmain-text h1 {
            margin-bottom: 100px;
        }


        .present-content p {
       
            text-align: center;
        }

        .present-skills {
            text-align: center;
            margin-top: 48px;
        }

        .skills-image {
          
            justify-items: center;
        }

        .third-home {
            padding: 3rem 1.5rem;
            
            justify-content: center;
            flex-direction: column;
        }

        .thirdmain-text {
            margin-bottom: 32px;
            text-align: center;
        }

        .carousel-row {
        
            justify-items: center;
            grid-template-columns: repeat(1, 1fr);
        }










 
     .nav_list {
    
         /*background-color: rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(20px); */
 
         background-color: var(--clr-primary);
         padding: 2em 1em; 
         position: fixed;
         top: 0;
         left: -100%;
         width: 50%; 
         height: 100%;
         z-index: 1000;
         transition: left 0.3s ease;
         display: flex;
         flex-direction: column; 
         gap: 20px;
         font-size: 4rem;
     }
 
     .nav_link {
         color: var(--clr-light);
         font-size: 1.5rem;
 
     }
 
     .nav.active .nav_list {
         left: 0;
     }
 
     .menu {
         display: flex; 
         align-items: center;  
     }
 
   
     .menu #close-icon {
         display: none;
     }
 
     .nav.active .menu #close-icon {
         display: block;
     }
 
     .contact-button {
         display: none;
     }
 }








